// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "sourceFilesMap";

$windowWidth: 1298;
$windowHeight: 884;

[guiType="PageContent"] {
  // sass-lint:disable-block no-important
  margin: 0;
  padding: 0 !important;
  width: #{$windowWidth}px;

  > .Spinner {
    padding: 0;
    position: relative;
    top: 320px;
    width: 60px;

    .Icon {
      background: $IO_VISIONSDK_USERCONTROLS_SPINNER_WHITE_BIG no-repeat;
      height: 60px;
      width: 60px;
    }
  }
}

body {
  > .WUIJRE {
    background-color: $IO_VISIONSDK_GRAY_LIGHT_9;
    border: 1px solid $IO_VISIONSDK_GRAY;
    height: #{$windowHeight - 2}px;
    left: 0;
    top: 0;
    width: #{$windowWidth - 2}px;

    .CacheLoaderProgressBar {
      background-color: $IO_VISIONSDK_GREEN;
      left: 1px;
      top: 24px;
    }

    .EditorPage {
      left: 0;
      top: 24px;

      .AppWizardPanel {
        .ImageButton {
          top: 26px;
        }
      }
    }
  }

  > .FOCUS {
    border: 1px solid $IO_VISIONSDK_GREEN;
    box-shadow: none;

    .#{$ComWuiFrameworkServicesNamespace}BasePageController,
    .#{$IoVisionSDKStudioServicesNamespace}BasePageController {
      .AppDragBar .DragBar {
        background-color: $IO_VISIONSDK_GRAY_DARK_1;
      }
    }
  }
}

.#{$ComWuiFrameworkServicesNamespace}BasePageController,
.#{$IoVisionSDKStudioServicesNamespace}BasePageController {
  .AppHeader {
    pointer-events: none;

    .Icon {
      background: url("#{$IO_VISIONSDK_STUDIO_SERVICES_GRAPHICS_NAMESPACE}/Logo.png") no-repeat;
      height: 21px;
      left: 5px;
      width: 104px;
    }
  }

  .AppDragBar {
    height: 24px;

    .DragBar {
      background-color: $IO_VISIONSDK_GRAY_LIGHT_3;
      height: 24px;
      width: #{$windowWidth - 2}px;
    }
  }

  .AppButtons {
    left: -75px;
    top: 3px;
    width: 69px;

    .AppMinimize,
    .AppMaximize {
      margin-right: 5px;
    }
  }

  .AppContentLoader {
    z-index: 1000;

    .Label .Text {
      font-family: "LatoThin", sans-serif;
      font-size: 35px;
      padding-left: 25px;
      top: 7px;
    }
  }
}

.DeveloperCorner {
  .ContextMenu {
    background-color: $IO_VISIONSDK_GRAY_LIGHT_8;
    border: 1px solid $IO_VISIONSDK_GREEN;
    box-shadow: 2px 5px 10px $IO_VISIONSDK_GRAY_DARK_4;
    min-height: 20px;
    min-width: 100px;

    .Link,
    .Link a {
      left: -10px;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      width: 100%;

      &:hover {
        background-color: $IO_VISIONSDK_GRAY_LIGHT_1;
        text-decoration: none;
      }
    }
  }
}
